---
layout: page
title:
description:
---

{% for post in site.tags['首页'] %}
<article class="am-article">
  <h1 class="am-article-title">
    <a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url"><strong>{{ post.title }}</strong></a>
    {% if post.link %} <sup><a class="am-icon-external-link" href="{{ post.link }}" target="_blank"></a></sup>{% endif %}
  </h1>
  {% if post.description %}<p>{{ post.description }}</p>{% endif %}
  <p class="am-article-meta">
    <span>{% for tag in post.tags %} <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="am-badge am-round">{{ tag }}</a>{% endfor %}</span>
    <span class="am-fr"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y年%-m月%-d日" }}</time></span>
  </p>
</article>
{% endfor %}

<hr class="am-article-divider" />
