<div id="banner" class="am-container">
  <h1>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    {% if page.link %}
      <sup><a class="am-icon-external-link" href="{{ page.link }}" target="_blank"></a></sup>
    {% endif %}
  </h1>

  {% if page.description %}
    <p>{{ page.description }}</p>
  {% endif %}
</div>

<div id="navbar-wrapper">
  <div id="navbar">
    <a id="top" class="am-text-xxl am-icon-arrow-up am-margin-bottom" href="#banner" title="回到顶部" data-am-smooth-scroll style="display: none"></a>
    {% if page.toc %}
    <a id="toc" class="am-text-xxl am-icon-bars am-margin-bottom" title="内容列表" data-am-offcanvas="{target: '#toc-sidebar'}"></a>
    {% endif %}
  </div>
</div>

<div id="toc-sidebar" class="am-offcanvas">
  <div class="am-offcanvas-bar am-offcanvas-bar-flip">
    <div class="am-offcanvas-content">
      <h3>内容目录</h3>
    </div>
  </div>
</div>
