<footer class="am-footer am-footer-default">
  <div class="am-footer-miscs ">
    <div>
      <a href="{{ site.baseurl }}/">首页</a>
      |
      <a href="{{ site.baseurl }}/tags/">标签</a>
      |
      <a href="{{ site.baseurl }}/posts/">时光</a>
      |
      <a href="{{ site.baseurl }}/about/">关于</a>
    </div>

    <div>
      Copyright &copy; 2013-{{ site.time | date: '%Y' }}
      <a href="http://aidistan.site" target="_blank">{{ site.author }}</a>
      <a href="{{ site.baseurl }}/feed.xml" target="_blank"><i class="am-icon-rss"></i></a>
    </div>
  </div>
</footer>

<!-- Outdated Browser -->
{% include _outdated_browser.html %}

<!-- jQuery -->
<script src="{{ site.baseurl }}/assets/vendor/jquery.min.js"></script>

<!-- Waypoints -->
<script src="{{ site.baseurl }}/assets/vendor/jquery.waypoints.min.js"></script>

<!-- AmazeUI -->
<script src="{{ site.baseurl }}/assets/vendor/amazeui.min.js"></script>

<!-- Main JS -->
<script src="{{ site.baseurl }}/assets/javascripts/main.js"></script>

<!-- MathJax -->
{% if page.mathjax %}
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
